#
# systemd service file for forking Prom MySQL Exporter data collector for Apptuit.ai
#

[Unit]
Description=Prometheus MySQL Metrics Exporter
Documentation=http://apptuit.ai/promex.html
After=network.target
After=syslog.target
After=mysql.service

[Install]
WantedBy=multi-user.target

[Service]
User=prometheus
Group=prometheus

Type=simple

WorkingDirectory=/opt/prometheus/mysqld_exporter/

EnvironmentFile=/etc/default/mysqld-exporter
ExecStart=/opt/prometheus/mysqld_exporter/bin/mysqld_exporter $MYSQLD_EXPORTER_FLAGS
