Package: @DEB_PACKAGE_NAME@
Version: @PACKAGE_VERSION@-@PACKAGE_REVISION@
License: @PACKAGE_LICENSE@
Architecture: @DEB_TARGET_ARCH@
Maintainer: Apptuit Prom Exporters <hello+promex@apptuit.ai>
Installed-Size: 7068
Depends: adduser, lsb-base
Provides: @DEB_PACKAGE_NAME@
Section: utils
Priority: optional
Homepage: https://github.com/ApptuitAI/prometheus-exporters/tree/master/mysqld_exporter
Description: Prometheus MySQL metrics exporter for apptuit.ai
